<!DOCTYPE html>
<html lang="en">
<head>
  <title>Feedback form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Feedback Form</h2>
  <form role="form">
    <div class="form-group">
        <label for="name">Name:</label>
  <input type="text" class="form-control" id="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="phone">Phone no:</label>
  <input type="number" class="form-control" id="phone" placeholder="Enter phoneno">
      </div>
    <div class="form-group">
      <label for="email">Email:</label>
<input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="suggest">Suggestions:</label><br>
        <textarea name="suggest" id="suggest" cols="30" rows="10"></textarea>
    </div>
<button type="submit" class="btn btn-default">Submit</button>
  </form></div></body></html>